@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');
body, html {
    margin: 0;
    font-family: 'Roboto', Helvetica, sans-serif;
    background-color: #2196F3;
    font-size: 1.5vw;
}
a {
    text-decoration: none;
    color: inherit;
} 
a:visited {
    color: inherit;
}
.navbar {
    position: fixed;
    top: 0;
    list-style-type: none;
    margin: 0;
    padding: 2vh 1.5vw;
    width: 97%;
    background-color: white;
    color: #2196F3;
    font-size: 1.2vw;
    z-index: 3;
}
li {
    display: inline;
}
li a {
    float: right;
    margin: 0 1vw;
    padding: 1.5vh 1.5vw;
    background-color: white;
    border-style: solid;
    border-color: transparent;
    border-radius: 3px;
    border-width: 1px;
}
.navlink {
    padding: 1.5vh 1.5vw;
    background-color: white;
    border-style: solid;
    border-color: transparent;
    border-radius: 3px;
    border-width: 1px;
}
.navlink:hover, li a:hover {
    border-color: #2196F3;
}
.hover {
    background-color: #2196F3;
    color: white !important;   
    border-color: #2196F3;
}
li img {
    width: 10vw;
}
.button {
    color: white !important;
    border-style: solid;
    border-radius: 3px;
    border-width: 1.2px;
    font-weight: 300;
    border-color: white;
    padding: 1.5vh 1.5vw;
}
.main {
    color: white;
    position: relative;
    top: 17vh;
    width: 96vw;
    margin: 0 2vw;
    font-weight: 300;
}
.main img {
    width: 30vw;
}
.main .img {
    padding: 3vh 8vw;
    vertical-align: top;
}
.cta {
    background-color: white;
    color: #2196F3 !important;
}
.inline .child {
    display: inline-block;
}
.main .text {
    width: 46vw;
    vertical-align: top;
    padding: 4vh 1vw;
}
.main .text .links {
    margin-top: 6vh;
}
h1 {
    font-size: 3vw;
    font-weight: 300;
}
.features {
    top: 25vh;
    position: relative;
    background-color: white;
    text-align: center;
    color: grey;
    padding-bottom: 4vh;
}
.features * {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.features h2, h3 {
    font-weight: 300;

}
.square {
    width: 20vw;
    height: 18vw;
    background-color: #80DEEA;
    display: inline-block;
    margin: 1vh 0.5vw;
    text-align: center;
    color: white;
}
.square h3 {
    position: relative;
    bottom: 1vw;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    width: 20vw;
}
.features i {
    position: relative;
    font-size: 10vw;
}
.normal {
    display: block;
    padding-top: 2vh;
    padding-bottom: 6vh;
    color: #2196F3 !important;
}
.normal:hover {
    text-decoration: underline;
}
.ctainverse {
    border-color: #2196F3;
    background-color: #2196F3;
    color: white;
}
.content {
    position: absolute;
    top: 18vh;
    padding: 1vh 2vw;
    color: grey;
}
.input {
    background-color: white;
    border-style: solid;
    border-width: 1px;
    border-color: grey;
    padding: 1.2vh 1vw;
    margin: 2vh 0;
}
form input {
    display: block;
}
.form {
    position: absolute;
    left: 15vw;
    background-color: white;
    width: 70vw;
    height: 60vh;
    margin-left: auto;
    margin-right: auto;
}
.big {
    font-size: 1.2vw;
}
.signup {
    padding: 0 2vw;
}
.loginquestion {
    background-color: #42A5F5;
    color: white;
    position: relative;
    top: 0;
    height: 56vh;   
    width: 33vw;
    vertical-align: top;
    padding: 2vh 3vw;
}
.content h1 {
    font-weight: 500;
}
.formimg {
    height: 33vh;
    position: relative;
}
.profile {
    color: white;
}
.profile * {
    margin-top: 0;
    margin-bottom: 3vh !important;
    position: relative;
}
.subtitle {
    color: whitesmoke;
    font-weight: 300;
}
.ibl {
    display: inline-block;
}